body {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.district-dropdown,
.block-dropdown {
  margin-top: 15px;
}

.search-box .form-select {
  width: 250px;
}

.search-block {
  margin-top: 15px;
}

.search-box button.search-btn {
  margin-top: 15px;
}

.search-block {
  margin: 15px;
}
